<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookStore_p1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>controller.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangnhap</display-name>
    <servlet-name>dangnhap</servlet-name>
    <servlet-class>controller.dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhap</servlet-name>
    <url-pattern>/dangnhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangxuat</display-name>
    <servlet-name>dangxuat</servlet-name>
    <servlet-class>controller.dangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangxuat</servlet-name>
    <url-pattern>/dangxuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doimatkhau</display-name>
    <servlet-name>doimatkhau</servlet-name>
    <servlet-class>controller.doimatkhau</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doimatkhau</servlet-name>
    <url-pattern>/doimatkhau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thaydoithongtin</display-name>
    <servlet-name>thaydoithongtin</servlet-name>
    <servlet-class>controller.thaydoithongtin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thaydoithongtin</servlet-name>
    <url-pattern>/thaydoithongtin</url-pattern>
  </servlet-mapping>
</web-app>